/* Кастомные css-свойства (переменные)*/
:root {
  /* Основной цвет текста */
  --primary-text-color: #757575;
  /* Цвет заголовков (кроме h1) */
  --title-text-color: #212121;
  /* Акцентный синий */
  --accent-color: #2196f3;
  /* Белый основной*/
  --primary-white-color: #ffffff;
  /* Серый дополнительный */
  --secondary-bg-grey: #f5f4fa;
  /* Цвет фона футера и героя */
  --footer-bg-color: #2f303a;
  /* Цвет иконок */
  --icon-color: #afb1b8;
  /* Свойства переходов */
  --transit-dur: 250ms;
  --transit-time-funct: cubic-bezier(0.4, 0, 0.2, 1);

}

/* Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
/* Убирает маркеры в списках */
.list {
  list-style: none;
}

/* --------------------1. Header----------------------- */
/* 1.1. logo */
.logo-header,
.logo-footer {
  text-decoration: none;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-header .word-studio {
  color: #000000;
}
/* паддинг для увеличения ховера */
.logo-header {
  margin-right: 93px;
  padding: 24px 0 25px;
}

/* 1.2. Навигация */
.list.site-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  position: relative;
  padding: 32px 0;
  color: var(--title-text-color);
  transition: color var(--transit-dur) var(--transit-time-funct);
}
.site-nav .link.current {
  color: var(--accent-color); 
}
.head {
  background-color: var(--primary-white-color) ;
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* 1.3. Контакты */
.contacts .link {
  color: var(--primary-text-color);
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color var(--transit-dur) var(--transit-time-funct);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}



/* Размещение контактов*/
.header .contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts .item:not(:last-child) {
  margin-right: 50px;
}
.contacts .icon {
  margin-right: 10px;
  align-items: center;
  /* width: 16px; */
  height: 16px;
  fill: currentColor;
}
.icon.mail {
  width: 16px;
}
.icon.tel {
  width: 10px;
}
/* Оформление контейнера */
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
.nav {
  display: flex;
}
.container.header {
  display: flex;
  padding: 0 15px;
}
/* Подчёркивание пункта меню текущей страницы */
.link.current::after {
  position: absolute;
  bottom: 0;
  display: block;  
  content: '';
  width: 100%;  
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  animation: scaleUnderline var(--transit-dur) var(--transit-time-funct);  
}
@keyframes scaleUnderline {
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
/* -----------------------2. Main------------------- */

/* Отступ от фиксированного хедера */
.main{
  margin-top: 80px;
}
/* 2.1. Цвет заголовков */
.section-title,
.title {
  color: var(--title-text-color);
}

/*2.2. Герой */
.hero {
  margin: 0 auto;
  
  /* text-align: center; */
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Img-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 200px 0; */
  background-color: #c4c4c4;
}
.hero .container {
  padding: 200px 0;
  text-align: center;
}
/* 2.2.1. Заголовок героя */
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}

/* 2.3. Стилизация кнопки, общие свойства*/
.button {
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: 0px solid transparent;
}
/* 2.3.1. Кнопка Заказать Услугу (синяя) */
.primary.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transit-dur) var(--transit-time-funct), box-shadow var(--transit-dur) var(--transit-time-funct);
}
.primary.button:hover,
.primary.button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* 2.3.2. Кнопки фильтра в Портфолио (серые) */
.secondary.button {
  background-color: var(--secondary-bg-grey);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  transition: background-color var(--transit-dur) var(--transit-time-funct), color var(--transit-dur) var(--transit-time-funct), box-shadow var(--transit-dur) var(--transit-time-funct);
}
.secondary.button:hover,
.secondary.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section {
  padding: 94px 0;
}
.section.services {
  padding-top: 0;
}

/* 2.4. Секция Преимущества */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features .lead {
  font-size: 14px;
  line-height: calc(24 / 14);
}
.list.features {
  display: flex;
  flex-wrap: wrap;
}
.features > .item {
  max-width: calc((100% - 90px) / 4);
}
.list.features > .item:not(:nth-child(4n + 4)) {
  margin-right: 30px;
}
/* Иконки (неинтерактивные) */
/* .features > .item::before {
  display: inline-flex;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  content: '';
  background-color: var(--secondary-bg-grey);
}
.features > .item:nth-child(1)::before {
  background-image: url('../images/icons/antenna\ 1.svg');
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}
.features > .item:nth-child(2)::before {
  background-image: url('../images/icons/clock\ 1.svg');
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}
.features > .item:nth-child(3)::before {
  background-image: url('../images/icons/diagram\ 1.svg');
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}
.features > .item:nth-child(4)::before {
  background-image: url('../images/icons/astronaut\ 1.svg');
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
} */
.features .box {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  /* padding: 25px 100px; */
  background-color: var(--secondary-bg-grey);
}
.box > .icon {
  width: 70px;
  height: 70px;
}
/* 2.5. Заголовки и подзаголовки секций Вид деятельности и Наша команда */
.services .section-title,
.team .section-title,
.clients .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 10px;
}
/* Без font-size меняет кегль на 18.72px, откуда берётся это значение? */
.team .title {
  font-weight: 500;
  font-size: inherit;
  line-height: calc(19 / 16);
}
.team .subtitle {
  line-height: calc(19 / 16);
}

/* Оформление секции Вид деятельности */
.services .list {
  display: flex;
  flex-wrap: wrap;
}
.services .list > .item {
  width: calc((100% - 60px) / 3);
}

/* Если зададим нулевой марджин самому последнему,
то при добавлении новых картинок сетка ломается.
Задаём нулевой марджин каждому третьему */
.services .list > .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
/* Оформление описания видов деятельности над картинками */
.services-card{
  position: relative;
}
.services-desc{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;  
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);;
}

/* Фон секции Наша команда */
.section.team {
  background-color: var(--secondary-bg-grey);
}
.team .list {
  display: flex;
  flex-wrap: wrap;
}
.team-card {
  text-align: center;
  background-color: var(--primary-white-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /* Сетка */
  width: calc((100% - 90px) / 4);
  padding: 0 0 30px;
}

.team-card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-desc {
  /* padding: 30px 0 16px; */
  margin: 30px 0 16px;
}

/* Иконки соц. сетей */
.team-card .social-media {
  display: inline-flex;
  /* align-items: center; */
  color: var(--icon-color);
}
.team-card .sm-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0; */
  width: 44px;
  height: 44px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: background-color var(--transit-dur) var(--transit-time-funct);
}
.team-card .social-media > .item:not(:last-child) {
  margin-right: 10px;
}
.sm-icon > .icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill var(--transit-dur) var(--transit-time-funct);  
}

.team-card .sm-icon:hover,
.team-card .sm-icon:focus {
  background-color: var(--accent-color);
}

.team-card .sm-icon:hover .icon,
.team-card .sm-icon:focus .icon {
  fill: var(--primary-white-color);
}
/* Оформление секции Постоянные клиенты */

.clients .list {
  display: flex;
  flex-wrap: wrap;
}
.clients-item {
  flex-basis: calc((100% - 150px) / 6);
}
.clients-item:not(:nth-child(6n + 6)) {
  margin-right: 30px;
}
.clients-item > .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  transition: border var(--transit-dur) var(--transit-time-funct);
}
.clients-item .icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition: fill var(--transit-dur) var(--transit-time-funct);
}
.clients-item > .link:hover,
.clients-item > .link:focus {
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border: 1px solid var(--accent-color);
}
.clients-item > .link:hover .icon,
.clients-item > .link:focus .icon {
  fill: var(--accent-color);
}

/* 2.6. Портфолио */
.cases .title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.cases .subtitle {
  line-height: calc(30 / 16);
  color: var(--primary-text-color);
}

.list.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.list.filter .item:not(:last-child) {
  margin-right: 8px;
}
/* Сетка */
.list.cases {
  display: flex;
  flex-wrap: wrap;
}
.list.cases .link {
  display: block;  
  transition: box-shadow var(--transit-dur) var(--transit-time-funct);
}
.list.cases > .item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  
}
/* У всех, кроме каждого третьего */
.list.cases > .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
/* У трёх последних */
.list.cases > .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.cases-pic {
  width: 100%;
}

.cases .desc {
  background-color: var(--primary-white-color);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top-width: 0;
}
/* Оформление оверлея */
.cases-img-overlay{  
  position: relative;
  overflow: hidden;
  
}
.cases .overlay{
  display:flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 24px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(102%);
  transition: transform var(--transit-dur) var(--transit-time-funct);
}
.cases .overlay-text{
  /* display: flex; */
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/* Ховеры на карточках с кейсами */
.list.cases  .link:hover ,
.list.cases  .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);    
}

.list.cases  .link:hover .overlay ,
.list.cases  .link:focus .overlay{
  transform: translateY(0);   
}

/* --------------------------3. Footer---------------------- */
.footer {
  background-color: var(--footer-bg-color);
  padding: 60px 0;
}
.footer .container {
  display: flex;
}
.footer .about {
  margin-right: 70px;
}
.logo-footer .word-studio {
  color: var(--primary-white-color);
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

/* Обнуление стилей address */
.address {
  font-family: inherit;
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
}
/* Локация */
.location .link {
  color: var(--primary-white-color);
  text-decoration: none;
  transition: color var(--transit-dur) var(--transit-time-funct);
}
.address .location {
  margin-bottom: 9px;
}
/* Контакты */
.contact .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color var(--transit-dur) var(--transit-time-funct);
}
.address .contact:not(:last-child) {
  margin-bottom: 9px;
}

/* Стили при наведении */
.location .link:hover,
.location .link:focus {
  color: var(--accent-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}


.footer .join {
  padding: 12px 0 0 0;
  /* margin-right: 93px; */
}
.footer .subscribe {
  padding: 12px 0 0 0;
  margin-left: auto;
}

.join .social-media {
  display: inline-flex;
  /* align-items: center; */
  /* color: var(--icon-color); */
}
.join .sm-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0; */
  width: 44px;
  height: 44px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: background-color var(--transit-dur) var(--transit-time-funct);
}
.join .social-media > .item:not(:last-child) {
  margin-right: 10px;
}
.join .icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.join .sm-icon:hover,
.join .sm-icon:focus {
  background-color: var(--accent-color);
}

.join-title,  .subscribe-title{
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe-box{
 display: flex;  
}
.subscribe-box .subscribe-input{
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  background-color: var(--footer-bg-color);  
  border: 1px solid rgba(255, 255, 255, 0.3);  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height:1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border var(--transit-dur) var(--transit-time-funct);
}

.subscribe-box input::placeholder{
  font-size: 16px;
  line-height:1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-box .subscribe-input:hover,
.subscribe-box .subscribe-input:focus{
  border: 1px solid rgba(255, 255, 255, 0.6); 
}

.subscribe .button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.subscribe .icon{
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
  margin-left: 10px;
}

/* --------------------------4. Модальное окно---------------------- */
.backdrop{ 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.2);
  opacity:1;
  transition: opacity var(--transit-dur) var(--transit-time-funct);
}

.backdrop.is-hidden{
  opacity:0;
  pointer-events: none;
}

.backdrop.is-hidden .modal{
  transform:translate(-50%, -50%) scale(0.7);
  opacity: 0;
}

.modal{
  position: absolute;
  display: flex;
  justify-content: center;  
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform var(--transit-dur) var(--transit-time-funct), opacity var(--transit-dur) var(--transit-time-funct) 100ms;
}
.modal-close{
  position: absolute;
  top:8px;
  right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border:1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
}
.modal-close .icon{
  width: 11px;
  height: 11px;
  transition: fill var(--transit-dur) var(--transit-time-funct);
}

.modal-close:hover .icon,
.modal-close:focus .icon{
  fill: var(--accent-color);
}

/* Оформление формы */
.modal-form{
  display: flex;  
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  
}
.form-title{
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-text-color);
}
.form-input{  
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;  
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color); 
}
.form-input.comment-box{
  margin-bottom: 10px;
}

.input-field{  
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  outline: none;  
  transition: border var(--transit-dur) var(--transit-time-funct);
}



.comment{  
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  color: var(--title-text-color);
  outline: none;
  transition: border var(--transit-dur) var(--transit-time-funct);
}



.form-label{
  margin-bottom: 4px;
}

.comment::placeholder{
  color: rgba(117, 117, 117, 0.5); 
}
.input-box{
  display: flex;
  position: relative;  
  color: var(--title-text-color);
}

.form-input .icon {
  position: absolute; 
  top: 50%;
  left: 12px;
  transform: translateY(-50%); 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  width: 18px;
  transition: fill var(--transit-dur) var(--transit-time-funct);
}

.input-field:focus,
.comment:focus{
  border: 1px solid var(--accent-color);  
  
}
.input-field:focus+.icon{  
 fill: var(--accent-color);
}
/* .icon.form-avatar{
  width:12px;
  height:12px;
} */
/* .icon.form-phone{
  width:13px;
  height:13px;
}
.icon.form-mail{
  width:15px;
  height:12px;
} */

/* Чекбокс Соглашение */
.form-agreement{
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  /* margin-top: 10px;
  margin-bottom: 30px; */
  outline: none;
}
.agreement-link{
  color: var(--accent-color);
}
.agreement-check{
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 7px;
  position: absolute;
  outline: none;
}
.modal-form .button{
  margin-top: 30px;
  width: 200px;
}


 .agreement-text::before{
  display: inline-flex;  
  margin-right: 7px;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px; 
  transition: background-color var(--transit-dur) var(--transit-time-funct), border-color var(--transit-dur) var(--transit-time-funct) ; 
}





.agreement-check:checked +.agreement-text::before{
  background-color: var(--accent-color);
  background-image: url(../images/icons/icomoon/SVG/done.svg);
  
  background-position: center;
  background-size: contain;
  border-color: var(--accent-color) ;
}
