.footer {
  background-color: var(--footer-bg-color);
  padding: 60px 0;

  .container {
    display: flex;
  }

  .footer__about {
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  .footer__logo--white {
    color: var(--primary-white-color);
  }
}

/* Обнуление стилей address */
.address {
  font-family: inherit;
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
}

.footer__location {
  margin-bottom: 9px;
}

.footer__contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link--white {
  color: var(--primary-white-color);
  text-decoration: none;
  transition: color var(--transit-dur) var(--transit-time-funct);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__link--grey {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color var(--transit-dur) var(--transit-time-funct);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join {
  padding: 12px 0 0 0;

  .join__social-media {
    display: inline-flex;
  }

  .join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: background-color var(--transit-dur) var(--transit-time-funct);
  }

  .join__social-media > .join__item:not(:last-child) {
    margin-right: 10px;
  }

  .join__icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-white-color);
  }

  & .join__link:hover,
  & .join__link:focus {
    background-color: var(--accent-color);
  }
}

.footer__subscribe {
  padding: 12px 0 0 0;
  margin-left: auto;
}

.join__title,
.subscribe__title {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe__box {
  display: flex;

  .subscribe__input {
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    background-color: var(--footer-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: border var(--transit-dur) var(--transit-time-funct);
  }

  .subscribe__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  & .subscribe__input:hover,
  & .subscribe__input:focus {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
}

.footer__button--primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.subscribe__icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
  margin-left: 10px;
}
