.logo-header,
.logo-footer {
  text-decoration: none;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-header .word-studio {
  color: #000000;
}

.logo-header {
  margin-right: 93px;
  padding: 24px 0 25px;
}

.list.site-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  position: relative;
  padding: 32px 0;
  color: var(--title-text-color);
  transition: color var(--transit-dur) var(--transit-time-funct);
}
.site-nav .link.current {
  color: var(--accent-color); 
}
.head {
  background-color: var(--primary-white-color) ;
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}


.contacts .link {
  color: var(--primary-text-color);
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color var(--transit-dur) var(--transit-time-funct);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}


.header .contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts .item:not(:last-child) {
  margin-right: 50px;
}
.contacts .icon {
  margin-right: 10px;
  align-items: center; 
  height: 16px;
  fill: currentColor;
}
.icon.mail {
  width: 16px;
}
.icon.tel {
  width: 10px;
}